.contact-container {
    background-color: #255071;
    padding: 0 10%;
    color:white;
    display:flex;
    flex-direction: column;
}

.contact-container form {
    flex:1;
    padding: 2% 25%;
    display:flex;
    flex-direction: column;
}

.contact-container form * {
    margin: 1% 0;
    padding: 1% 0;
}

.contact-container form textarea {
    flex:1;
    align-items: stretch;
}

.contact-container form button {
    background-color:#12100E;
    width:100%;
    margin-top:auto;
    text-align: center;
    color:#D5C9C0;
    height:50px;
    margin-top: 3%;
}