.projects-container {
    background-color: #12100E;
    padding: 0 10%;
    color:white;
}

    .projects-container .projects {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
    }

/*-------SLIDER-------*/
        .projects-container .slider {
            flex:1;
            height:100vh;
            width:60vw
        }

            .projects-container .slider img {
                width:100%;
                height:100%;
                object-fit: cover;
                position: relative;
            }

            .projects-container .slider .description {
                position: absolute;
                left: 0;
                top: 60%;
                height: 40%;
                background-color: #12100E;
                text-align: left;
                padding: 0 5%;
                cursor: auto;
                opacity: 80%;
                display: flex;
                flex-direction: column;
                border-radius: 5% 5% 0 0;
            }

            .projects-container .slider .text {
                margin-top: -4%;
                padding: 0 0 0 10%;
            }

            .projects-container .slider .action {
                position: absolute;
                left: 0;
                top: 90%;
                width: 100%;
                height:10%;
                opacity: 90%;
                background-color: #12100E;
                text-align: right;
            }

            .projects-container .slider .action a {
                text-decoration: none;
                color:white
            }

            .projects-container .slider .action:hover {
                text-decoration: underline;
                cursor: pointer;
            }

/*---------SWIPER----------*/
        .swiper {
            width: 60vw;
            height: 85vh;
        }

        .swiper-slide {
            text-align: center;
            justify-items: center;
        }

/*-------PROJECT-------*/
        .projects-container .project {
            flex:1;
            height: 100vh;
            width: 100%
        }

            .projects-container .project .title div{
                display: flex;
                align-items: center;
            }

            .projects-container .project .title div a{
                padding: 1% 1%;
                color:white;
                font-size: 18px
            }

            .projects-container .project .photos img{
                max-width:100%;
                height:200px;
                vertical-align: top;
                display: inline-block;
                transition: ease-in-out .5s;
                animation: photo 2s ease-in-out;
            }

            .projects-container .project .photos img:hover{
                transform: scale(0.95);
                cursor: pointer;
            }

            .projects-container .project .photos > div{
                display:flex;
                justify-content: center;
                align-items: center;
            }

            .projects-container .project .photos > div > img{
                width:100%;
                height:100%;
                object-fit: cover;
            }

            .projects-container .project .photos {
                width: 60vw;
                height: 85vh;
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(autofit,minmax(250px,1fr));
                grid-auto-rows: 200px;
                grid-auto-flow: dense;
                overflow-y: scroll;
            }

            .projects-container .project .photos .wide {
                grid-column: span 2;
            }

            .projects-container .project .photos .tall {
                grid-row: span 2;
            }

            .projects-container .project .photos .big {
                grid-column: span 2;
                grid-row: span 2;
            }

@keyframes photo {
    from {
        translate: 0 -100%;
    }
    to {
        translate: 0 0;
    }
}