.services-container {
    padding: 0 10%;
    background-color: #9c4d2b;
    color:white;
    display: flex;
    flex-direction: column;
}

.services-container .services {
    flex:1;
    display: flex;
}

.services-container .services .grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding:0 10%;
}

.services-container .services .grid .item {
    margin-top: auto;
}