body {
  overflow: hidden;
}

.app {
  display: flex;
  height:100vh;
  font-family:'Montserrat';
}

h1 {
  font-family: 'Playfair Display';
  font-weight:600;
  font-size: 26px;
}

h2 {
  font-family: 'Playfair Display';
  font-weight:600;
  font-size: 38px;
}

h3 {
  font-weight:800;
}

p, label, input, textarea {
  appearance: none;
  border: none;
  outline: none;
  font-weight:300;
  font-size: 14px;
}

hr {
  box-shadow: none;
  text-shadow: none;
  color:#D5C9C0
}

button {
  all: unset;
  cursor:pointer
}

/*--------------NAV-------------*/

.nav {
  flex:1;
  background: linear-gradient(rgba(31, 31, 31, 0.6), rgba(31, 31, 31, 0.6)),url('./assets/nav.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size:24px;
}

.header {
  flex:1;
}

.socials {
  display: flex;
  justify-content: space-around;
  margin: 2% 20%;
  padding: 2% 10%;
  text-align: center;
}

.icons {
  background-color: #D5C9C0;
  padding: 5%;
  border-radius: 100%;
  cursor: pointer;
}

.name {
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 18px;
  color:#D5C9C0;
  padding: 0 25%
}

.menu {
  flex:2;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.menu-item {
  text-decoration: none;
  color:#12100E;
  background-color: #D5C9C0;
  font-weight: bold;
  padding: 10px;
  border: #12100E solid 1px;
  transition: ease-in-out .5s;
  width:40%;
  text-align: center;
}

.menu-item:hover {
  transform:scale(1.2);
  color:#D5C9C0;
  background-color: #12100E;
}

/*--------------MAIN-------------*/

.main {
  flex:3;
  background-color:#12100E;
  font-size:16px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.home-container, .projects-container, .services-container, .about-container, .contact-container {
  height: 100vh;
  overflow: hidden;
}